.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 92px 24px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  justify-self: center;
  width: 138px;
}

.header__logo-image {
  width: 100%;
}

.header__address {
  justify-self: end;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  letter-spacing: 0em;
  text-align: left;
  text-underline-offset: 5px;
  font-style: normal;
  display: flex;
  flex-direction: column;
}

.cover {
  position: relative;
  background: url(../images/cover.jpg) no-repeat center center/cover;
  color: white;
  text-transform: uppercase;
  padding: 165px 50px 51px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.6;
}

.cover__wrapper {
  position: relative;
  z-index: 1;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  margin-top: 135px;
}

.bet-button {
  font-size: 22px;
  font-weight: 500;
  line-height: 25.74px;
  text-transform: uppercase;
  padding: 12px 32px;
  border: 1px solid white;
  background: transparent;
  color: white;
}

.lots {
  padding: 0px 24px 0 24px; /* исправлено */
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  letter-spacing: 0em;
  text-align: left;
  margin: 180px 0 27px 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  flex: 1 1 334px;
}

.card-link {
  text-decoration: none;
  display: block;
}

.card {
  position: relative;
  min-height: 563px;
  padding: 51px 40px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  color: white;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  letter-spacing: 0em; /* добавлено */
  text-align: left;    /* добавлено */
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none; /* добавлено */
}

.lots__look-more-link {
  display: inline-block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  font-weight: 400; /* добавлено */
  line-height: 28px;
  letter-spacing: 0em; /* добавлено */
  text-align: left; /* добавлено */
  padding: 0 40px 0 40px; /* исправлено */
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}

.about {
  display: flex;
  gap: 72px;
  padding: 181px 24px 0;
}

.about__column {
  display: flex;
  gap: 72px;
}

.about__logo {
  flex: 0 0 240px;
  height: 240px;
  background: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
}

.about__article {
  max-width: 693px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 100px;
  margin-top: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  font-size: 20px;
  font-weight: 400; /* добавлено */
  line-height: 24px;
  margin-right: 12px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 180px 50px 88px;
}

.footer__address {
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  letter-spacing: 0em;
  text-align: left;
  text-underline-offset: 5px;
  font-style: normal;
  display: flex;
  flex-direction: column;
}

.footer__menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer__menu-list {
  text-align: center;
}

.footer__menu-list ul {
  list-style: none;
  padding: 0;
}

.footer__menu-link {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: 0em;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  padding: 0;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
